<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>14th lab</title>
</head>
<link rel="stylesheet" href="/common/static/bootstrap.min.css">
<body>
<form>
    <label>Mean:
        <input type="number" name="e" step="0.001">
    </label><br/>
    <label>Variance:
        <input type="number" name="v" step="0.001">
    </label><br/>
    <label>Количество экспирементов:
        <input type="number" name="N" min="1" max="10000">
    </label><br/>
    <input type="submit">
</form>

</body>
</html>