jinja2~=2.11.2
aiohttp~=3.6.2
aiohttp_jinja2
asyncio~=3.4.3
num2words~=0.5.10
matplotlib~=3.2.1
scipy~=1.4.1
contextvars~=2.4
pip~=20.1
wheel~=0.34.2
setuptools~=41.2.0
seaborn~=0.10.1
urllib3~=1.25.9
Cython~=0.29.19
numpy~=1.18.4