<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stocks and Flows [As Web]</title>
    <script src="/static/jquery.min.js" type="text/javascript"></script>
    <script src="/static/script.js" type="text/javascript"></script>
</head>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<body>

<img src="/static/Stocks_and_Flows.png">
<div onclick="Start(this)" id="start">Start!</div>

<div class="fall" style="left: 70px; top: 30px" onclick="act('difme', '-')"></div>
<div class="grow" style="left: 100px; top: 30px" onclick="act('difme', '+')"></div>
<div class="text" style="left: 130px; top: 30px" id="difmetext">18</div>

{#<div class="fall" style="left: 55px; top: 175px" onclick="act('visre', '-')"></div>#}
{#<div class="grow" style="left: 90px; top: 175px" onclick="act('visre', '+')"></div>#}
<div class="text" style="left: 90px; top: 175px" id="visretext">18</div>

<div class="fall" style="left: 65px; top: 360px" onclick="act('quase', '-')"></div>
<div class="grow" style="left: 115px; top: 360px" onclick="act('quase', '+')"></div>
<div class="text" style="left: 110px; top: 305px" id="quasetext">18</div>

<div class="fall" style="left: 205px; top: 480px" onclick="act('stuff', '-')"></div>
<div class="grow" style="left: 235px; top: 480px" onclick="act('stuff', '+')"></div>
<div class="text" style="left: 215px; top: 440px" id="stufftext">18</div>

<div class="fall" style="left: 325px; top: 225px" onclick="act('couor', '-')"></div>
<div class="grow" style="left: 355px; top: 225px" onclick="act('couor', '+')"></div>
<div class="text" style="left: 385px; top: 225px" id="couortext">18</div>

{#<div class="fall" style="left: 465px; top: 225px" onclick="act('prore', '-')"></div>#}
{#<div class="grow" style="left: 495px; top: 225px" onclick="act('prore', '+')"></div>#}
<div class="text" style="left: 465px; top: 225px" id="proretext">18</div>

{#<div class="fall" style="left: 545px; top: 110px" onclick="act('arebu', '-')"></div>#}
{#<div class="grow" style="left: 575px; top: 110px" onclick="act('arebu', '+')"></div>#}
<div class="text" style="left: 545px; top: 110px" id="arebutext">18</div>

{#<div class="fall" style="left: 465px; top: 465px" onclick="act('salpe', '-')"></div>#}
{#<div class="grow" style="left: 495px; top: 465px" onclick="act('salpe', '+')"></div>#}
<div class="text" style="left: 465px; top: 500px" id="salpetext">18</div>

<div class="fall" style="left: 620px; top: 495px" onclick="act('cosdi', '-')"></div>
<div class="grow" style="left: 650px; top: 495px" onclick="act('cosdi', '+')"></div>
<div class="text" style="left: 680px; top: 495px" id="cosditext">18</div>

{#<div class="fall" style="left: 790px; top: 375px" onclick="act('pripr', '-')"></div>#}
{#<div class="grow" style="left: 820px; top: 375px" onclick="act('pripr', '+')"></div>#}
<div class="text" style="left: 800px; top: 410px" id="priprtext">18</div>

</body>
</html>