<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stocks and Flows [As Web]</title>
    <script src="/common/static/jquery.min.js" type="text/javascript"></script>
    <script src="/seventh/static/script.js" type="text/javascript"></script>
</head>
<link rel="stylesheet" type="text/css" href="/seventh/static/style.css">
<link rel="stylesheet" href="/common/static/bootstrap.min.css">
<body>

<img src="/seventh/static/Stocks_and_Flows.png" style="top: 5px; position: absolute;" alt="diagram">
<div onclick="Start(this)" id="start">Start!</div>

<div class="fall" style="left: 70px; top: 30px" onclick="act('difme', '-')"></div>
<div class="grow" style="left: 100px; top: 30px" onclick="act('difme', '+')"></div>
<div class="text" style="left: 130px; top: 30px" id="difmetext">18</div>

{#<div class="fall" style="left: 55px; top: 175px" onclick="act('visre', '-')"></div>#}
{#<div class="grow" style="left: 90px; top: 175px" onclick="act('visre', '+')"></div>#}
<div class="text" style="left: 90px; top: 175px" id="visretext">18</div>

<div class="fall" style="left: 65px; top: 360px" onclick="act('quase', '-')"></div>
<div class="grow" style="left: 115px; top: 360px" onclick="act('quase', '+')"></div>
<div class="text" style="left: 100px; top: 295px" id="quasetext">18</div>

<div class="fall" style="left: 205px; top: 480px" onclick="act('stuff', '-')"></div>
<div class="grow" style="left: 235px; top: 480px" onclick="act('stuff', '+')"></div>
<div class="text" style="left: 215px; top: 435px" id="stufftext">18</div>

<div class="fall" style="left: 325px; top: 225px" onclick="act('couor', '-')"></div>
<div class="grow" style="left: 355px; top: 225px" onclick="act('couor', '+')"></div>
<div class="text" style="left: 385px; top: 220px" id="couortext">18</div>

{#<div class="fall" style="left: 465px; top: 225px" onclick="act('prore', '-')"></div>#}
{#<div class="grow" style="left: 495px; top: 225px" onclick="act('prore', '+')"></div>#}
<div class="text" style="left: 460px; top: 215px" id="proretext">18</div>

{#<div class="fall" style="left: 545px; top: 110px" onclick="act('arebu', '-')"></div>#}
{#<div class="grow" style="left: 575px; top: 110px" onclick="act('arebu', '+')"></div>#}
<div class="text" style="left: 535px; top: 100px" id="arebutext">18</div>

{#<div class="fall" style="left: 465px; top: 465px" onclick="act('salpe', '-')"></div>#}
{#<div class="grow" style="left: 495px; top: 465px" onclick="act('salpe', '+')"></div>#}
<div class="text" style="left: 465px; top: 495px" id="salpetext">18</div>

<div class="fall" style="left: 620px; top: 495px" onclick="act('cosdi', '-')"></div>
<div class="grow" style="left: 650px; top: 495px" onclick="act('cosdi', '+')"></div>
<div class="text" style="left: 680px; top: 495px" id="cosditext">18</div>

{#<div class="fall" style="left: 790px; top: 375px" onclick="act('pripr', '-')"></div>#}
{#<div class="grow" style="left: 820px; top: 375px" onclick="act('pripr', '+')"></div>#}
<div class="text" style="left: 800px; top: 410px" id="priprtext">18</div>

<div class="dropdown-menu dropdown-menu-sm" id="context-menu">
    <a class="dropdown-item" id="i1">Here `name` of the field</a>
    <a class="dropdown-item" id="i2">Here `in` of the field</a>
    <a class="dropdown-item" id="i3">Here `uuid` of the field</a>
</div>

</body>
</html>