<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>10th lab</title>
</head>
<link rel="stylesheet" href="/common/static/bootstrap.min.css">
<body>

{% if not n %}
    <p>Введите количество различных событий</p>
    <form>
        <label>
            <input type="number" name="n" min="1">
            <input type="submit">
        </label>
    </form>
{% else %}
    {% if not ps %}
        <p>Введите ряд распредения</p>
        <form>
            <input type="hidden" name="n" value="{{ n }}">
            {% for i in range(n - 1) %}
                <label><input type="number" name="p" step="0.001"></label><br/>
            {% endfor %}
            <label><input type="number" disabled placeholder="auto"></label><br/>
            <input type="submit">
        </form>
    {% else %}
        <p>Result: {{ result }} from probabilities {{ prps }}</p>
        <input type="button" value="Try again" onclick="document.location.reload(true)">
        OR <button onclick="window.location.href = '/tenth'">
        on main page
        </button>
    {% endif %}
{% endif %}

</body>
</html>