<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Полет в атмосфере</title>
    <script src="/static/jquery.min.js" type="text/javascript"></script>
    <script src="/static/script.js" type="text/javascript"></script>
</head>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<body>

<div id="ticker" class="txt" style="width: auto !important">Тут будет таймер</div>

<div id="conf">
    <label for="height" class="txt">Height:</label>
    <input type="number" min="0" id="height" placeholder="h0"/><br/>
    <label for="angle" class="txt">Angle(°):</label>
    <input type="number" min="-90" max="90" id="angle" placeholder="α"/><br/>
    <label for="speed" class="txt">Speed:</label>
    <input type="number" min="0" id="speed" placeholder="v0"/><br/>
    <label for="size" class="txt">Size:</label>
    <input type="number" min="1" id="size" placeholder="S"/><br/>
    <label for="size" class="txt">Weight:</label>
    <input type="number" min="1" id="weight" placeholder="m"/><br/>
    <input type="button" onclick="StartExp(this)" class="button" value="Start"/>
    <input type="button" onclick="StopExp(this)" class="button" value="Stop" id="manager"/>
</div>

<div id="graph" class="char">
    <canvas id="cnvs" width="835" height="525">
        <p>Ваш браузер не поддерживает рисование.</p>
    </canvas>
</div>

</body>
</html>